* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

p {
    margin-bottom: 1rem;
}

header {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background: teal;
    margin: 0.2rem auto;
    padding: 0.3rem;
    text-align: center;
}

header h1 {
    font-size: 2.8rem;
}

header nav ul {
    list-style-type: none;
}

header nav a {
    font-size: 1.4rem;
    text-decoration: none;
}

main {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#main-menu {
    margin: 0.5rem;
    width: 12rem;
    flex-shrink: 0;
}

#main-menu ul {
    width: 100%;
    padding: 0.3rem;
    list-style-type: none;
}

#main-menu button {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#main-menu button.ativo {
    background-color: teal;
    color: white;
}

h2 {
    background: turquoise;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    font-size: 1.8rem;
    padding: 0.3rem;
}

h3 {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    font-size: 1.6rem;
    padding: 0.3rem;
}

#display-modulo {
    width: 75rem;
}

.modulo {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}

.modulo ul {
    margin: 1.8rem;
    padding: 0.3rem;
    font-size: 1.4rem;
}

.modulo ol {
    margin: 1.8rem;
    padding: 0.3rem;
    font-size: 1.4rem;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table,
th,
td {
    border: 0.1rem solid;
    padding: 0.3rem;
}


footer {
    background: teal;
    margin: 0 auto;
    padding: 0.3rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    text-align: center;
}